.edit-form__button {
    width: 100%;
    margin: 0 0 37px;
    background: #000000;
    border: 0;
    transition: opacity .4s;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
