.edit-form__button {
    width: 100%;
    margin: 0 0 37px;
    background: #000000;
    height: 50px;
    border: 0;
    cursor: pointer;
    transition: opacity .4s;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.edit-form__button:hover {
    opacity: .7;
}
