.edit-form__item_edit_profession {
    margin: 0px 0 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
@media screen and (max-width: 767px) {
    .edit-form__heading {
        margin: 0px 0 45px;
    }
}